.form__title {
    text-align: center;
}

form {
    align-items: center;
    background-color: rgb(193, 190, 190);
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 5px 13px;
    width: 60%;
    min-width: 300px;
}

.input-group {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.input-group label {
    font-weight: bold;
}

.input-group input {
    border: 1px solid black;
    font-size: 15px;
    padding: 5px;
    width: 100%;
}

.submit {
    background-color: #28a745;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 10px auto;
    text-align: center;
    width: 30%;
}

.submit:hover {
    cursor: pointer;
    transform: scale(1.05);
}