main {
    background-color: #ebebeb;
    min-height: 100vh;
}

.productos {
    background-color: #110b0b;
    border: 2px solid black;
    border-radius: 5px;
}

.productos__header {    
    color: white;
    font-weight: bold;
    border-bottom: 1px solid white;
}

.productos__header span {
    font-size: 20px;
    padding: 10px 0;
}

.productos__content {
    background-color: #4a4747;
    color: white;
}

.productos__content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.productos__content span {
    font-size: 20px;
}

.producto {
    border-top: 1px solid black;
}

.producto__title {
    padding-left: 15px;
    overflow: hidden;
}

.producto__image {
    border: 1px solid black;
    height: 150px;
    margin: 10px;
    overflow: hidden;
    width: 150px;
}

.producto__image img {
    height: 100%;
    width: 100%;
}

.productos__empty {
    align-items: center;
    display: flex;
    justify-content: center;
}

.productos__empty h2 {
    background-color: rgb(44, 88, 230);
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    min-width: 286px;
    padding: 5px 10px;
    text-align: center;
}