<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="form__title mt-3 mb-3">Registrar un producto</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="/productos" method="POST">
                <div class="row input-group align-items-center">
                    <div class="col-12 col-lg-4">
                        <label for="title">Nombre:</label>
                    </div>
                    <div class="col-12 col-lg-8">
                        <input id="title" name="title" type="text" maxlength="50" required="true">
                    </div>
                </div>
                <div class="row input-group align-items-center">
                    <div class="col-12 col-lg-4">
                        <label for="price">Precio Unitario:</label>
                    </div>
                    <div class="col-12 col-lg-8">
                        <input id="price" name="price" type="number" min="0" required="true">
                    </div>
                </div>
                <div class="row input-group align-items-center">
                    <div class="col-12 col-lg-4">
                        <label for="thumbnail">URL de Imagen:</label>
                    </div>
                    <div class="col-12 col-lg-8">
                        <input id="thumbnail" name="thumbnail" type="text" required="true">
                    </div>
                </div>
                <input class="submit" type="submit" value="Enviar">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center mt-3 mb-3">
            <a href="/productos">
                <button type="button" class="btn btn-primary">Ver productos</button>            
            </a>
        </div> 
    </div>
</div>