<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="/js/signup.js"></script>
</head>
<body>
    <main>
        <div class="container">
            <div class="formulario-container row">
                <div class="col-12">
                    <h2 class="form__title mt-3 mb-3">Registro de Usuario</h2>
                </div>
                <div class="col-12">
                    <form id="register-form" action="/register" method="POST" enctype="multipart/form-data"
                    onsubmit="return verifyPasswords()">
                        <div class="row input-group align-items-center">
                            <div class="col-12 col-lg-4">
                                <label for="name">Nombre Completo:</label>
                            </div>
                            <div class="col-12 col-lg-8">
                                <input id="name" name="name" type="text" maxlength="30" required="true">
                            </div>
                        </div>
                        <div class="row input-group align-items-center">
                            <div class="col-12 col-lg-4">
                                <label for="address">Dirección:</label>
                            </div>
                            <div class="col-12 col-lg-8">
                                <input id="address" name="address" type="text" maxlength="50" required="true">
                            </div>
                        </div>
                        <div class="row input-group align-items-center">
                            <div class="col-12 col-lg-4">
                                <label for="age">Edad:</label>
                            </div>
                            <div class="col-12 col-lg-8">
                                <input id="age" name="age" type="number" min="1" max="110" required="true">
                            </div>
                        </div>
                        <div class="row input-group align-items-center">
                            <div class="col-12">
                                <label>Datos telefónicos:</label>
                            </div>
                            <div class="phone-container row">
                                <div class="col-12 col-lg-4">
                                    <label for="phone_prefix">Prefijo:</label>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <select id="phone_prefix" name="phone_prefix">
                                        <% countries.forEach(c => { %>
                                            <option value="<%= c.phone_code %>">(+<%= c.phone_code %>) - <%= c.country %></option>
                                        <% }); %>
                                    </select>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <label for="phone_number">Número:</label>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <input id="phone_number" name="phone_number" type="number" min="1" max="9999999999999999" required="true">
                                </div>
                            </div>
                        </div>
                        <div class="row input-group align-items-center">
                            <div class="col-12 col-lg-4">
                                <label for="avatar">Avatar:</label>
                            </div>
                            <div class="col-12 col-lg-8">
                                <input id="avatar" name="avatar" type="file" required="true"
                                        accept="image/png, image/jpeg">
                            </div>
                        </div>
                        <div class="row input-group align-items-center">
                            <div class="col-12 col-lg-4">
                                <label for="email">Email:</label>
                            </div>
                            <div class="col-12 col-lg-8">
                                <input id="email" name="email" type="email" maxlength="50" required="true">
                            </div>
                        </div>
                        <div class="row input-group align-items-center">
                            <div class="col-12 col-lg-4">
                                <label for="password">Contraseña:</label>
                            </div>
                            <div class="col-12 col-lg-8">
                                <input id="password" name="password" type="password" minlength="8" maxlength="30" required="true">
                            </div>
                        </div>
                        <div class="row input-group align-items-center">
                            <div class="col-12 col-lg-4">
                                <label for="password_repeat">Repetir Contraseña:</label>
                            </div>
                            <div class="col-12 col-lg-8">
                                <input id="password_repeat" name="password_repeat" type="password" minlength="8" maxlength="30" required="true">
                            </div>
                        </div>
                        <p class="mensaje_error">ERROR: Las contraseñas no coinciden.</p>
                        <input class="submit" type="submit" value="Enviar">
                    </form>
                </div>
                <div class="navegacion-container">
                    <a href="/login">
                        <button class="boton-navegacion">Iniciar Sesión</button>
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>